##  Compiled
*.elc

##  Packaging
.cask

##  edc.d aliases
aliases
bin
edc-utils
lib
templates

##  Local override directories
/local
*/local

##  Backup files
.*.swp
*~
/cache
*/cache
/_*
*/_*
*-OLD

##  Cruft
.DS_Store

